{% extends 'scout/scout_base.html' %}

{% block head %}
  {{ super() }}

{% endblock %}

{% block content %}
{{ super() }}
<div class="row">
  {% include 'scout/scout_sidebar.html' %}
  <form class="col-md-4 p-5">
    <div class="row">
      <div class="w-50 mb-3">
        <label class="form-label">Team Number</label>
        <input type="number" class="form-control" id="inputTeamNumber">
      </div>
    </div>
    <div class="row">
      <label class="mr-3">Autonomous</label>
      <label class="switch">
        <input type="checkbox" data-toggle="auto">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="row d-none" data-attr="auto">
      ADASDASD
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
  $(() => {
    $('input[type="checkbox"][data-toggle]')
      .each(function(idx, el) {
        // Ensure each element is in a known state; subject to the togglers checked status
        const attr = $(el).attr('data-toggle');
        const children = $(`[data-attr=${attr}]`).each(function(idx, child) {
          // If checked but child isn't visible
          if (el.checked === $(child).hasClass('d-none'))
            $(child).toggleClass('d-none');
        });
      })
      .on('click', function (evt){
        const attr = $(evt.target).attr('data-toggle');
        $(`[data-attr=${attr}]`).toggleClass('d-none');
        console.log('a')
      });

  })
</script>
{% endblock %}