<div class="bg-dark border-right col-md-2" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Scouters</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Analytics</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Data Viewer</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Application Settings</a>
  </div>
</div>