@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap'); /* B612 Bold 700 */

* {
    font-family: 'B612', sans-serif; 
}

body {
    background: linear-gradient(to bottom right, #333, #37474f);
}


.login-divider {
    height: 1px;
    width: 85%;
    background: gray;
    padding: 0.001px;
    margin: 20px auto 40px auto;
}