{% extends 'base.html' %}

{% block title %} Admin Panel {% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

  <!-- Bootstrap core CSS -->
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="row">
        <div class="bg-dark border-right col-md-2" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Scouters</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Analytics</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Data Viewer</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Application Settings</a>
            </div>
        </div>
    </div>

    
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
