{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block head %}
  {{ super() }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/DataTables/datatables.css') }}">
  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
