{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

  <!-- Bootstrap core CSS -->
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="row">
        <div class="bg-dark border-right col-md-2" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Shortcuts</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Overview</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Events</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Profile</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-light">Status</a>
            </div>
        </div>
    </div>

    
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
