<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - NOPScouting</title>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  {% endblock %}
</head>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
    {% for message in get_flashed_messages() %}
      <div class="toast-html hide">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
{% block scripts %}
<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script>
  // M.AutoInit();

  // let toasts = document.querySelectorAll('.toast-html');

  // toasts.forEach(el => {
  //   M.toast({
  //      html: el.innerHTML,
  //      classes: "red lighten-1"
  //   });
  // })
  const global = {
    TBA_AUTH_KEY: '1wEa7XYecmJl8VN26q10hP05vkq8vyLkjdXfTW3T3h6oQ40DetUlL7z78HlBnhnQ'
  }
</script>

{% endblock %}
