<!doctype html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  {% endblock %}
</head>
<div class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
  <div class="toast-container">
    {% for message in get_flashed_messages() %}
    <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true"data-delay="5000">
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% block scripts %}
<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script>
  $(() => {
    $('.toast').toast('show');
  });
  const global = {
    TBA_AUTH_KEY: '1wEa7XYecmJl8VN26q10hP05vkq8vyLkjdXfTW3T3h6oQ40DetUlL7z78HlBnhnQ',
    CURRENT_EVENT_CITY: 'Orlando'
  }
</script>

{% endblock %}
