{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block head %}
  {{ super() }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/DataTables/datatables.css') }}">
  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <!-- Page Content -->
  <div class="container">
    <div class="row bg-light">
      <div class="col-lg-7 bg-light mt-5">
        <h1 class="font-weight-light mb-5">Match Schedule</h1>
        <table class="table" id="matchSchedule">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Red</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Blue</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="col-lg-5 bg-light mt-5">
        <h1 class="font-weight-light mb-5">Current Rankings</h1>
        <table class="table stripe" id="currentRankings">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Team</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is using data from the 2019 Orlando Regional, some pages may not be complete yet.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/DataTables/datatables.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
$(document).ready(function () {
  $('#dtBasicExample').DataTable({
    "ordering": false // false to disable sorting (or any other option)
  });
  $('.dataTables_length').addClass('bs-select');
  $('#exampleModal').modal('toggle');
});
</script>
{% endblock %}
